<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/logs/samllbronze-timer.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/data/logs/samllbronze-timer-%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE_PRE" class="ch.qos.logback.core.FileAppender">
        <File>/data/logs/samllbronze-timer-pre.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
    </appender>
    <appender name="FILE_AUDIT" class="ch.qos.logback.core.FileAppender">
        <File>/data/logs/samllbronze-timer-audit.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!-- 开发环境 -->
    <springProfile name="dev,test">

        <logger name="com.daishumovie.api" level="debug"/>
        <logger name="com.daishumovie.dao" level="debug" />
        <logger name="com.daishumovie.timer" level="debug" />
        <logger name="org.apache.ibatis.cache" level="info" />
        <logger name="org.apache.ibatis.executor" level="debug" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">

        <logger name="com.daishumovie" level="info"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="pre">

        <logger name="com.daishumovie" level="debug"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_PRE" />
        </root>
    </springProfile>

    <springProfile name="audit">

        <logger name="com.daishumovie" level="debug"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_AUDIT" />
        </root>
    </springProfile>

</configuration>

